<section class="content-header">
    <h1>
        12 ශ්‍රේණිය - Grade Advanced Level Education Section
    </h1>
</section>

<section>
<div class="row">
    <div class="col-md-6" id="Primary_education_image">
        <img src="https://thumbs.dreamstime.com/b/teacher-blackboard-children-school-desks-classroom-cartoon-vector-illustration-school-classroom-blackboard-123649638.jpg">
    </div>
</div>
</section>


<section id="box-one">
<div class="row col-md-12">
    <div class="col-md-3">
        <div class="form-group">
            <div class="box box-primary" id="first-box">
                <div class="box-header with-border">
                    <label>භෞතික විද්‍යාව</label>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="box box-primary" id="first-box">
                <div class="box-header with-border">
                    <label>රසායනික විද්‍යාව</label>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="box box-primary" id="first-box">
                <div class="box-header with-border">
                    <label>සංයුක්ත ගණිතය</label>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <div class="box box-primary" id="second-box">
                <div class="box-header with-border">
                    <label>තොරතුරු තාක්ෂණය</label>
                </div>
            </div>
          </div>
    </div>
   
</div>
</section>
