.content-header{
    position: relative;
}
#Primary_education_image{
    position: fixed;
    left: 30%;
    height: 20%;
}
section div img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    opacity: 0.5;
}
// #box-one{
//     position: relative;
//     background-color: blue;
//     top: 180px;
// }
#first-box{
    position: absolute;
    width: 80%;
    left: 20px;
    top: 200px;
    height: 400%;
}

#second-box{
    position: absolute;
    width: 80%;
    left: 20px;
    top: 200px;
    height: 400%;
}

#box-one label{
    color: rgb(13, 46, 235);
    font-weight: bold;
}
#box-one label:hover{
    color: springgreen;;
}