<form action="action_page.php" method="post">
  <div class="imgcontainer">
    <img src="img_avatar2.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" [(ngModel)]="email" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" [(ngModel)]="password" name="psw" required>

    <!-- <a routerLink = "/Message"> -->
    <button type="submit" (click)="login()">Login</button>
    <!-- </a> -->
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span><br>
    <span class="psw" id="create-user">If you haven't account<a href="Register">Create new user</a></span>
  </div>
</form>

    <!-- <mat-form-field>
      <input  matInput  placeholder="your email" [(ngModel)]="email"  type="email" name="email"  required>
      </mat-form-field>
      <mat-form-field>
      <input  matInput  placeholder="your password" [(ngModel)]="password"  type="password"  name="password"  required>
      </mat-form-field>

      <mat-card-actions>
        <a routerLink = "/Message">
        <button  mat-raised-button (click)="login()"  color="primary">Login</button>
      </a>
    </mat-card-actions>
</mat-card> -->