<!-- <h1  mat-dialog-title>Message</h1>
    <mat-dialog-content>  </mat-dialog-content>
<mat-dialog-actions>
    <button  mat-raised-button (click)="closeMe()">Close</button>
</mat-dialog-actions> -->
<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Welcome to E-learning center</h1>
    </header>
    <!-- <section id="modal-body">
        <p>If you logout bad things might happen, but don't mind me, I'm just the description in a modal...</p>
    </section> -->
    <footer id="modal-footer">
        <a routerLink = "/dashboard">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">OK</button>
    </a>
        <!-- <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button> -->
    </footer>
</div>
