<section class="content-header">
    <h1>
        ප්‍රාථමික අංශය - Primary Education Section
    </h1>
</section>

<section>
<div class="row">
    <div class="col-md-6" id="Primary_education_image">
        <img src="https://png.pngtree.com/thumb_back/fw800/back_our/20190621/ourmid/pngtree-primary-and-secondary-school-safety-education-cartoon-animal-poster-background-image_198105.jpg">
    </div>
</div>
</section>


<section id="box-one">
<div class="row col-md-12">
    <div class="col-md-4">
        <div class="form-group">
            <div class="box box-primary" id="first-box">
                <div class="box-header with-border">
                    <label>අපේ ගණිත පංතිය</label>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="box box-primary" id="first-box">
                <div class="box-header with-border">
                    <label>මව්බස ඉගෙන ගනිමු</label>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="box box-primary" id="first-box">
                <div class="box-header with-border">
                    <label>අපේ  ආගම ඉගෙන ගනිමු</label>
                </div>
            </div>
          </div>
    </div>
</div>

<div class="row col-md-12">
    <div class="col-md-4">
        <div class="form-group">
            <div class="box box-primary" id="second-box">
                <div class="box-header with-border">
                    <label>05 වසර ශිෂ්‍යත්ව පන්තිය</label>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="box box-primary" id="second-box">
                <div class="box-header with-border">
                    <label>05 වසර ශිෂ්‍යත්ව අත්වැල - පුණරීක්ෂණ පාඩම්</label>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <div class="box box-primary" id="second-box">
                <div class="box-header with-border">
                    <label>ශිෂ්‍යත්ව ප්‍රශ්න පත්‍ර</label>
                </div>
            </div>
          </div>
    </div>
</div>
</section>



